.listing-container {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    margin: 10px;
    padding:10px;
    border-radius: 10px;
}

.listing-card {
    display: flex;
}


.listing-img {
    height: 200px;
    border-radius: 10px;
}

.listing-description-container {
    background-color: yellowgreen;
    border-radius: 10px;
    margin-left: 20px;
    padding: 20px;
    width: 100%;
}

